<div id="accessibility-widget" class="shadow-lg">
    
    <button id="increase-font" class="btn btn-light mb-2" aria-label="Aumentar fonte">
        <i class="bi bi-zoom-in"></i> <span class="widget-text-label">A+</span>
    </button>

    <button id="decrease-font" class="btn btn-light mb-2" aria-label="Diminuir fonte">
        <i class="bi bi-zoom-out"></i> <span class="widget-text-label">A-</span>
    </button>

    <button id="toggle-contrast" class="btn btn-light mb-2" aria-label="Alternar alto contraste">
        <i class="bi bi-circle-half"></i> <span class="widget-text-label">Contraste</span>
    </button>

    <button id="toggle-reading-mask" class="btn btn-light mb-2" aria-label="Ativar máscara de leitura">
        <i class="bi bi-eyeglasses"></i> <span class="widget-text-label">Leitura</span>
    </button>

    <button id="speak-text-btn" class="btn btn-light" aria-label="Ler texto selecionado">
        <i class="bi bi-volume-up-fill"></i> <span class="widget-text-label speak-text-label">Ouvir</span>
    </button>
</div>

<script src="{{ url_for('static', filename='javascript/accessibility.js') }}"></script>